<!--曲情報-->
  <div class="row text-center justify-content-center col-12 fs-2"><%= song.name%></di>
  <div class="row text-center justify-content-center col-12 fs-3"><%= song.artist%></div>
  <div class="row justify-content-around col-12">
    <div class="col-4">作詞：<%= song.songwriter %></div>
    <div class="col-4">作曲：<%= song.composer %></div>
  </div>
  <div class="row col-12 text-center"><%= song.tie_up%></div>