<!--曲情報-->
  <h1><%= song.name%></h1>
  <div><%= song.artist%></div>
  <div class="row">
    <div>作詞：<%= song.songwriter%></div>
    <div>作曲：<%= song.composer%></div>
  </div>
  <div><%= song.tie_up%></div>
