<!--メイン部分-->
  <h1>新曲登録</h1>
  <%= form_with model: @song, url: song_path do |f| %>
    <div class="field">
      <%= f.label :name, "曲名"%><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>
    <div class="field">
      <%= f.label :artist, "アーティスト名"%><br />
      <%= f.text_field :artist, autofocus: true, autocomplete: "artist" %>
    </div>
    <div class="field">
      <%= f.label :songwriter, "作詞者名"%><br />
      <%= f.text_field :songwriter, autofocus: true, autocomplete: "songwriter" %>
    </div>
    <div class="field">
      <%= f.label :composer, "作曲者名"%><br />
      <%= f.text_field :composer, autofocus: true, autocomplete: "composer" %>
    </div>
    <div class="field">
      <%= f.label :tie_up, "タイアップ情報"%><br />
      <%= f.text_field :tie_up, autofocus: true, autocomplete: "tie_up" %>
    </div>
    <div class="action">
      <%= f.submit '新曲登録', class:"btn btn-success"%>
    </div>
  <% end %>
