  <!--メイン部分-->
  <!--曲情報-->
  <div class="row col-md-12 col-sm-12 col-xs-12">
    <%= render 'song_data', song: @song %>
  </div>

  <% unless current_user.guest_user? %>
    <div>
      <%= link_to new_song_record_path(@song), class: "btn btn-primary" do %>
        <div>記録する</div>
      <% end %>
    </div>
    
    <div id="bookmark<%= @song.id %>">
      <%= render 'public/bookmarks/bookmark', song: @song %>
    </div>
  <% end %>
  
  <!--全員の記録-->
  <div>
    <%= render 'public/records/all_records', records: @all_records%>
  </div>
  
  <!--ログインしている会員分の記録-->
  
  <% unless current_user.guest_user? %>
    <div>
      <%= render 'public/records/user_records', records: @user_records%>
    </div>
  <% end %>