<!--曲情報-->
  <div class="row">
    <h1 class="text-center col-md-12 col-sm-12 col-xs-12"><%= song.name%></h1>
  </div>
  <div class="row text-center col-12"><%= song.artist%></div>
  <div class="row justify-content-around">
    <div class="col-4">作詞：<%= song.songwriter%></div>
    <div class="col-4">作曲：<%= song.composer%></div>
  </div>
  <div class="row col-12 text-center"><%= song.tie_up%></div>
