<!--曲情報-->
  <div class="row col-12 justify-content-center text-center">
    <%= link_to admin_song_path(song), class: "fs-2" do%>
      <%= song.name %>
    <% end %>
  </div>
  <div class="row col-12 justify-content-center text-center fs-3"><%= song.artist%></div>
  <div class="row col-12 justify-content-around">
    <div class="col-4">作詞：<%= song.songwriter%></div>
    <div class="col-4">作曲：<%= song.composer%></div>
  </div>
  <div class="row col-12 justify-content-center text-center">タイアップ情報</div>
  <div class="row col-12 justify-content-center text-center">
    <% if song.tie_up.present? %>
      <%= song.tie_up%>
    <% else %>
      &nbsp;
    <% end%>
  </div>
