  <div class="fs-3">あなたの記録</div>
<!--グラフ-->
  <div class="row col-12 graph-area">
    <%= render 'layouts/line_graph' %>
  </div>

  <table class="table text-light text-center">
    <thead>
      <th class="col-4">曲名</th>
      <th class="col-4">記録日時</th>
      <th class="col-3">点数</th>
      <th class="col-1">キー</th>
    </thead>
    <tbody>
      <% records.each do |record| %>
        <tr>
          <td><%= record.song.name %></td>
          <td>
            <%= link_to song_record_path(record) do%>
            <%= record.created_at %>
            <% end %>
            </td>
          <td><%= number_with_precision(record.score, precision: 2) %></td>
          <td><%= record.key %></td>
        </tr>
      <% end %>
    </tbody>
    
  </table>