  <h2 class="justify-content-center text-center">新規修練者登録</h2>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>
  
    <div class="field justify-content-center text-center">
      <%= f.label :email,"メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "25" %>
    </div>
  
    <div class="field justify-content-center text-center">
      <%= f.label :name, "ニックネーム"%><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", size: "25" %>
    </div>
  
    <div class="field justify-content-center text-center">
      <%= f.label :password, "パスワード"%>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", size: "25" %>
    </div>
  
    <div class="field justify-content-center text-center">
      <%= f.label :password_confirmation, "パスワード(確認)"%><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", size: "25" %>
    </div>
  
    <div class="actions justify-content-center text-center">
      <%= f.submit "登録", class: "btn btn-submit" %>
    </div>
  <% end %>

  <div class="justify-content-center text-center">
    <p>修練者登録がお済みの方は</p>
    <%= link_to "こちら", new_user_session_path %>
    からログインしてください。
  </div>
  
  <div class="justify-content-center text-center">
  <%= render "public/shared/links" %>
  </div>