<div class="justify-content-center text-center fs-2">会員情報編集</div>

<%= render 'layouts/error', obj: @user %>

<%= form_with model: @user, url: admin_user_path do |f| %>
  <div class="field justify-content-center text-center">
    <%= f.label :name, "ニックネーム"%><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", size: "25" %>
  </div>
  <div class="field justify-content-center text-center">
    <%= f.label :email,"メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "25" %>
  </div>
  <div class="field justify-content-center text-center">
    <%= f.label :is_training,"修練状況" %><br />
    <%= f.radio_button :is_training, true %>
    <%= f.label "修練中"%>
    <%= f.radio_button :is_training, false %>
    <%= f.label "退会済"%>
  </div>
  
  <div class="justify-content-center text-center">
    <%= f.submit "編集", class: "btn btn-submit" %>
  </div>
<% end %>
