<!--メイン部分-->
  <!--曲情報-->
  <%= flash[:notice] %>
  <div class="row align-items-end">
    <div class="col col-10 justify-content-center">
      <%= render 'admin/songs/song_data', song: @song %>
    </div>
    
    <div class="col col-2 justify-content-center">
      <div>
        <%= link_to edit_admin_song_record_path(@record), class: "btn btn-transition justify-content-center" do%>
          <div>編集</div>
        <% end %>
      </div>
      
      <div>
        <%= link_to admin_song_record_path(@record), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-caution justify-content-center" do%>
          <div>削除</div>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="row col-12 fs-2">記録詳細</div>
  <table class="col-12">
    <tr>
      <th class="col-3 text-center">記録者</th>
      <td class="col-9 text-center">
        <%= link_to admin_user_path(@record.user_id) do %>
            <%= @record.user.name %>
          <% end %>
      </td>
    </tr>
    <tr>
      <th class="col-3 text-center">記録日時</th>
      <td class="col-9 text-center"><%= @record.created_at.strftime("%y/%m/%d %H:%M") %></td>
    </tr>
    <tr>
      <th class="col-3 text-center">点数</th>
      <td class="col-9 text-center"><%= number_with_precision(@record.score, precision: 2) %></td>
    </tr>
    <tr>
      <th class="col-3 text-center">キー</th>
      <td class="col-9 text-center"><%= @record.key %></td>
    </tr>
    <tr>
      <th class="col-3 text-center">共有する事</th>
      <td class="col-9"><%= @record.share %></td>
    </tr>
    <tr>
      <th class="col-3 text-center">共有しないメモ</th>
      <td class="col-9"><%= @record.memo %></td>
    </tr>
  </table>

