<div class="col-12">
<!--サイト名-->
  <div class="text-center fs-3">
    歌うたいの</br>修練場
  </div>

<!--会員-->
  <% if user_signed_in? %>
    <!--曲一覧-->
    <%= link_to songs_path do %>
      <div class="border-top text-center py-2">曲一覧</div>
    <% end %>

    <!--マイページ-->
    <% unless current_user.guest_user? %>
      <div >
        <%= link_to user_path(current_user) do %>
        <div class="border-top text-center py-2">マイぺージ</div>
        <% end %>
      </div>
    <% end %>

    <!--ログアウト-->
    <div>
      <%= link_to  destroy_user_session_path, method: :delete do %>
      <div class="border-top text-center py-2">Log out</div>
      <% end %>
    </div>

  <!--管理者-->
  <% elsif admin_signed_in? %>

    <!--記録一覧-->
    <div>
      <%= link_to  admin_records_path, method: :get do %>
      <div class="border-top text-center py-2">記録一覧</div>
      <% end %>
    </div>


    <!--曲一覧-->
    <div>
      <%= link_to  admin_songs_path, method: :get do %>
      <div class="border-top text-center py-2">曲一覧</div>
      <% end %>
    </div>

    <!--会員一覧-->
    <div>
      <%= link_to admin_users_path(current_user) do %>
      <div class="border-top text-center py-2">修練者一覧</div>
      <% end %>
    </div>

    <!--ログアウト-->
    <div>
      <%= link_to destroy_admin_session_path, method: :delete do %>
      <div class="border-top text-center py-2">Log out</div>
      <% end %>
    </div>
  <% end %>
</div>