<!DOCTYPE html>
<htm lang="ja">
  <head>
    <title>Utautainosyuurennjou</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">-->
  </head>

  <body>
    <header class="header-container">
      
    </header>
    <main class="main-container">
      <div class="row h-auto">
        <% if signed_in? %>
          <div class="col col-md-3 col-sm-3 col-3 sidebar">
            <div class="sidebar_fixed">
              <%= render 'layouts/sidebar'%>
            </div>
          </div>
          <div class="col col-md-9 col-sm-9 col-9">
            <%= yield %>
          </div>
        <% else %>
          <div class="col col-md-12 col-sm-12 col-xs-12">
            <%= yield %>
          </div>
        <% end %>
        
      </div>
    </main>
    <footer></footer>
  </body>
</html>
